<!doctype html>
<html>
<head>
<meta charset="utf-8">
#outputPageHeader()
<title>无标题文档</title>
<link rel="stylesheet" href="css/reset.css">
</head>

<body>
<div class="top"></div>
	<div class="center-warp">
		<div class="center">
			<input type="text" id="username" class="user" placeholder="用户名"><br>
			<div class="tst">
				<a href="javascript:verificationCode()" ><div class="charge">免费获取验证码</div></a>
				<input type="text" id="code" class="verification"  placeholder="">
				
			</div>
			<input type="password" id="pwd"  class="new-password" placeholder="设置新的密码"><br>
			<a href="javascript:resetPwd()" class="password">重置密码</a>
		</div>
	</div>
	<div class="footer">Copyright © 2013-2016 信运通信息科技有限公司 版权所有    鄂ICP备13002219号 </div>	
	
</body>
</html>
